<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/favicon.png">
    <meta charset="UTF-8">
    <title>Parking System</title>
    <link rel="stylesheet" href="/css/index.css">
    
    <style>
        
    </style>
</head>
<body>

    <form id="clienteForm" method="post">
        Nome:<br>
        <input type="text" name="nome"><br>
        CPF:<br>
        <input type="text" name="cpf"><br>
        Telefone:<br>
        <input type="text" name="telefone"><br>
        <button type="submit">Enviar</button>
    </form>

    <h2>Lista de Clientes</h2>
    <div>
        <ul>
            <li th:each="cliente : ${clientes}">
                <span th:text="${cliente.cliente_id}">Nome do Cliente</span>
                <span th:text="${cliente.nome}">Nome do Cliente</span>
                <span th:text="${cliente.cpf}">Nome do Cliente</span>
                <span th:text="${cliente.telefone}">Nome do Cliente</span>
                <a class="btn" th:href="@{/veiculoPage(clienteId=${cliente.cliente_id})}">Veiculos</a>
                <button class="btn" th:onclick="'deleteCliente(' + ${cliente.cliente_id} + ');'">Delete</button>
                <br><br>

            </li>
        </ul>
    </div>

    <script>
        // INSERIR CLIENTE (
        document.getElementById('clienteForm').addEventListener('submit', function(e) {
        e.preventDefault();
        const formData = new FormData(this); 
        fetch('/insertCliente', {
            method: 'POST',
            body: formData
        })
        .then(response => {
            console.log(response);
            window.location.reload();
        })
        .catch(error => console.error('There has been a problem with your fetch operation:', error));
        });
        // )

        // DELETAR CLIENTE (
        function deleteCliente(id) {
            console.log(id);
            fetch('/deleteCliente/' + id, {method: 'DELETE'})
            .then(response => {
                console.log(response);
                window.location.reload();
            })
            .catch(error => console.error('There has been a problem with your fetch operation:', error));
        }
        // )
    </script>
    <!-- <script src="/js/index.js"></script> -->
</body>
</html>
