<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/favicon.png">
    <meta charset="UTF-8">
    <title>Parking System</title>
    <link rel="stylesheet" href="/css/index.css">
    
</head>
<body>
    <h1>veiculo: <span th:text="${veiculoId}"></span></h1>
    <form id="reservaForm" method="post">
        Horario de entrada:<br>
        <input type="time" name="horario_entrada"><br>
        
        Horario de saida:<br>
        <input type="text" name="horario_saida"><br>
        
        tarifa:<br>
        <input type="number" name="tarifa"><br>
        Enum:<br>
        <select id="reserva_status" name="reserva_status" required>
            <option value="">Selecione o status</option>
            <option value="AGENDADA">AGENDADA</option>
            <option value="PENDENTE">PENDENTE</option>
            <option value="EM_ANDAMENTO">EM_ANDAMENTO</option>
            <option value="FINALIZADA">FINALIZADA</option>
        </select><br>

        Vaga:<br>
        <input type="number" name="vagaId">
       
        <input type="hidden" name="veiculoId" th:value="${veiculoId}"><br>
        <button type="submit">Cadastrar nova reserva</button>
    </form>
    
    <div>
        <ul>
            <li th:each="reserva : ${reservas}">
                <span th:text="${reserva.horario_entrada}"></span>
                <span th:text="${reserva.horario_saida}"></span>
                <span th:text="${reserva.tarifa}"></span>
                <span th:text="${reserva.reserva_status}"></span>
                <span th:text="${reserva.vagaId}"></span>
                <span th:text="${reserva.veiculoId}"></span>
                <button class="btn" th:onclick="'deleteReserva(' + ${reserva.reserva_id} + ');'">Delete</button>
                <br><br>
            </li>
        </ul>
    </div>

    <script>
        // INSERIR RESERVA (
        document.getElementById('reservaForm').addEventListener('submit', function(e) {
        e.preventDefault();
        const formData = new FormData(this); 
        fetch('/insertReserva', {
            method: 'POST',
            body: formData
        })
        .then(response => {
            console.log(response);
            window.location.reload();
        })
        .catch(error => console.error('There has been a problem with your fetch operation:', error));
        });
        // )

        // DELETAR RESERVA (
        function deleteReserva(id) {
            console.log(id);
            fetch('/deleteReserva/' + id, {method: 'DELETE'})
            .then(response => {
                console.log(response);
                window.location.reload();
            })
        }
        // )
</script>

    <!-- <script src="/js/"></script> -->
</body>
</html>   