<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/favicon.png" />
    <meta charset="UTF-8" />
    <title>Parking System</title>
    <link rel="stylesheet" href="/css/index.css" />
  </head>
  <body>
    <h1>Veículo: <span th:text="${veiculoId}"></span></h1>

    <button class="btn" th:attr="onclick='reservar(\'' + ${veiculoId} + '\')'">
      Reservar
    </button>

    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>Horário de Entrada</th>
            <th>Horário de Saída</th>
            <th>Tarifa</th>
            <th>Status</th>
            <th>Vaga</th>
            <th>Veículo</th>
            <th>Finalizar</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="reserva : ${reservas}">
            <td th:text="${reserva.horarioEntrada}"></td>
            <td th:text="${reserva.horarioSaida}"></td>
            <td th:text="${reserva.tarifa}"></td>
            <td th:text="${reserva.reservaStatus}"></td>
            <td th:text="${reserva.vagaId}"></td>
            <td th:text="${reserva.veiculoId}"></td>
            <td><button class="btn" th:onclick="'finalizar(' + ${reserva.reservaId} + ')'">Finalizar</button></td>
          </tr>
        </tbody>
      </table>
    </div>

    <script>
      // INSERIR RESERVA (
      function reservar(id) {
        console.log(id);
        fetch("/insertReserva?veiculoId=" + id, { method: "POST" })
          .then((response) => {
            if (response.ok) {
              console.log("Reserva feita com sucesso.");
              window.location.reload(); // Recarrega a página após a reserva
            } else {
              console.error("Erro ao fazer reserva.");
            }
          })
          .catch((error) =>
            console.error("Houve um problema com a operação fetch:", error)
          );
      }

      function finalizar(id) {
        fetch("/confirmarPagamento?reservaId=" + id, { method: "POST" })
          .then((response) => {
            if (response.ok) {
              console.log("Reserva finalizada com sucesso.");
              window.location.reload(); // Recarrega a página após a reserva
            } else {
              console.error("Erro ao finalizar reserva:", response.statusText);
            }
          })
          .catch((error) =>
            console.error("Houve um problema com a operação fetch:", error)
          );
      }
    </script>

    <!-- <script src="/js/"></script> -->
  </body>
</html>
